<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.642880758804-gvufhjao5hf0ffsj4h4mqi9s6l74hc99</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Roboto.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Raleway-Regular.ttf</string>
		<string>Raleway-Bold.ttf</string>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-LightItalic.ttf</string>
		<string>Inter.ttf</string>
	</array>
    <key>GMSAPIKey</key>
    <string>AIzaSyBvmsKJffm7UV5iV9oqJ5BMZxAhb7Q-K1U</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>We need your location to show nearby grooming salons</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>We need your location to show nearby grooming salons</string>
</dict>
</plist>
